# Python
*.pyc
__pycache__/
media/
venv/
*.env

# IDE/Editor
.vscode/
.idea/

# Dependency directories
env/
lib/
bin/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store

# telethon session files
*.session
*.session-journal